.home-page {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
}

.restaurant-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}

.restaurant-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.restaurant-button-container {
  margin: 15px;
  display: flex;
  align-items: center;
}

.restaurant-button {
  padding: 55px;
  font-size: 25px;
  border: 2px solid #4caf50;
  background-color: #fff;
  color: #4caf50;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1);
}

.restaurant-button:hover {
  background-color: #45a049;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.add-restaurant-button,
.remove-restaurant-button {
  margin: 15px;
  padding: 15px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-restaurant-button:hover,
.remove-restaurant-button:hover {
  background-color: #45a049;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
