.home-page-gerir-mesas {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
}

.gerir-mesas-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}

.gerir-mesas-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.mesas-button-container {
  margin: 15px;
  display: flex;
  align-items: center;
}

.mesas-button {
  padding: 55px;
  font-size: 25px;
  border: 2px solid #4caf50;
  background-color: #fff;
  color: #4caf50;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1);
}

.mesas-button:hover {
  background-color: #45a049;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.mesa-info-container {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 1;
  margin-top: 20%;
}

.mesas-button-container:hover .mesa-info-container {
  display: block;
}

.info-texto {
  margin: 11px;
}

.add-mesas-button,
.remove-mesas-button {
  margin: 15px;
  padding: 15px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-mesas-button:hover,
.remove-mesas-button:hover {
  background-color: #45a049;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
