.home-reservas {
  perspective: 1px;
  transform-style: preserve-3d;
  min-height: 100vh;
}

.gerir-reservas-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.reservas-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}

.reservas-item {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  width: 1350px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background: #e6e4da;
}

.reservas-item:hover {
  transform: scale(1.05);
}

.nome {
  color: #000000;
  font-size: 18px;
  margin-left: 10px;
}
.desc {
  color: #000000;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.reservas-button-container {
  margin: 15px;
  display: flex;
  align-items: center;
}
.remove-reservas-button {
  margin: 15px;
  flex-direction: column;
  padding: 15px;
  font-size: 18px;
  background-color: #f52121;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.remove-reservas-button:hover {
  background-color: #b81212;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
