.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo-principal {
  color: #452211;
  text-align: center;
}

.formulario-menu {
  display: flex;
  flex-direction: column;
}

.titulo-secundario {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #452211;
}

.menu-input {
  margin-bottom: 15px;
}

.etiqueta-menu {
  font-weight: bold;
  margin-bottom: 5px;
  color: #452211;
}

.inserir-menu {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #452211;
  border-radius: 4px;
  margin-bottom: 5px;
  color: #452211;
}

.button-remover,
.button-novo-menu {
  background-color: #da7a27;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-remover:hover,
.button-novo-menu:hover {
  background-color: #aa5409;
}

.submeter-menu[type="submit"] {
  background-color: #fde1a1;
  cursor: pointer;
}

.submeter-menu[type="submit"]:hover {
  background-color: #f7cf75;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 0.9em;
}

.textarea-input {
  width: 100%;
  height: 70px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #452211;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  resize: none;
  padding: 10px;
  border: 1px solid #452211;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
  color: #452211;
}

@media screen and (max-width: 1450px) {
  .menu-container {
    width: calc(100% - 40px);
    margin-bottom: 10px;
  }
}
