* {
  box-sizing: border-box;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.texto-introducao-home {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.introducao-titulo-home {
  font-size: 36px;
  margin-bottom: 20px;
  color: #007c47;
}

.introducao-descricao-home {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  opacity: 0.8;
  color: #000000;
}

.tem-restaurante-home {
  background-color: #f2f2f2;
  padding: 40px;
}

.titulo-restaurante-home {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
  margin-left: 230px;
}

.caixa-home {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}

.texto-home {
  flex: 1;
  padding-right: 20px;
  padding-left: 60px;
  text-align: left;
}

.div-imagem-home {
  flex: 1;
  text-align: right;
}

.titulo-cadastrar-2-home {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.titulo-cadastrar-home {
  font-size: 20px;
  margin-bottom: 10px;
}

.texto-cadastrar-home {
  font-size: 16px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.botao-cadastrar-home {
  padding: 10px 20px;
  background-color: #007c47;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-cadastrar-home:hover {
  background-color: #00562f;
}

.imagem-home {
  width: 330px;
}

.imagem-inicial-home {
  width: 110%;
  display: flex;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.imagem-main-home {
  width: 100%;
  persepective: 100px;
}

.home-page-home {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: 1550px;
}

.pos-parallax-home {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
}
@media (max-width: 1417px) {
  .titulo-restaurante-home {
    margin-left: 15px;
  }

  .caixa-home {
    flex-direction: column;
  }

  .texto-home {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .div-imagem-home {
    text-align: center;
    margin-top: 20px;
  }
}

/* Responsividade para larguras menores que 1055px */
@media (max-width: 1055px) {
  .titulo-restaurante-home {
    margin-left: 10px !important;
  }

  .caixa-home {
    max-width: 100%;
  }

  .texto-home {
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: center;
  }

  .div-imagem-home {
    text-align: center;
    margin-top: 15px !important;
  }
}
